extends layout

block content
  h1= title
  form.form-horizontal(action='/quotes', method='post')
    .control-group
      label.control-label(for='quote') Quotation:
      .controls
        textarea(id='quote', name='quote', rows=6) "Text"
    .control-group
      label.control-label(for='names') People / context:
      .controls
        | &mdash; 
        input(id='names', name='name', type='text', placeholder='People or setting')
    .control-group
      .controls
        button.btn-success.btn(type='submit') Post

  h2 Quote board
  ul(id='quotes')
    for quote in quotes
      li
        blockquote
          p #{quote.quote}
          em
            cite &mdash; #{quote.name}
        form(action="/delete", method="post")
          small
            | Submitted by #{quote.submitter}  
            if quote.submitter == user.username
              button.btn.btn-mini(type="submit", name="id", value=quote._id, style="padding: 0 5px", onclick="return confirm('Are you sure you want to purge this quote from history?')")
                | &times;